bootstrap/cache/*

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

/backend
/frontend
/test
README.md

.git
.idea
.gitignore
.gitattributes
.sass-cache
*.env*

*.config.js

.dockerignore
Dockerfile
docker-compose.yml
.docker/*
!.docker/supervisor*
!.docker/php
!.docker/docker-entrypoint.sh

.vscode
.idea

